@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend Deca", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
}
